    @model List<PastelDTO>
   
    @{
        ViewData["Title"] = "Lista de Pasteles";
    }

    <h1>Lista de Pasteles</h1>
<div>
    <strong>Bienvenido</strong> @ViewBag.UserName
</div>
    <a asp-action="Agregar" class="btn btn-warning btn-sm">Agregar Pastel</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Origen</th>
                    <th>Precio</th>
                    <th>Sabor</th>
                    <th>Presentacion</th>
                    <th>Promedio</th>
                    <td>Recomendado</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var pastel in Model)
                {
                    <tr>
                        <td>@pastel.Nombre</td>
                        <td>@pastel.Origen</td>
                        <td>@pastel.Precio</td>
                        <td>@pastel.PromedioSabor</td>
                        <td>@pastel.PromedioPresentacion</td>
                        <td>@pastel.PromedioFinal</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@pastel.id" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table> 
    </div>
